system/.custom

# AWS
stow/aws/config
stow/aws/credentials

# Kubernetes
stow/kube/config

# ZSH
# TODO: git-crypt a separate secrets file so I can check in non-secret env vars
stow/zsh/.zprofile

# CT-L-M-016 Transfer Files
# TODO: remove these files once they are incorporated into my dotfiles ecosystem
transfer-ct-l-m-016/Work

