[user]
	name = mtrspringer
	email = mtrspringer@users.noreply.github.com
	signingkey = 482064B0A87A471B

[github]
	user = mtrspringer

[core]
	abbrev = 7
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[diff]
	algorithm = histogram

[pull]
	rebase = true
	ff = only

[push]
	autoSetupRemote = true

[alias]
	# shorthand aliases
	amend = commit --amend --reuse-message=HEAD
	br = branch
	ci = commit
	co = checkout
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
	lg = log -p
	ll = log --pretty=oneline --graph --abbrev-commit
	lm = log --pretty=format:'* %s (%h)'
	lt = log --graph --decorate --oneline --exclude=refs/*/site --all 
	lta = log --graph --decorate --oneline --all 
	p = push
	pf = push --force
	st = status
  bd = branch-default
	# custom alias functions
	all = "!f() { find ~/Code -name '.git' -type d | sed s,/.git,,; }; f"
	clone-indie = "!f() { curr_dir=$(pwd); cd ~/Code/indie-health; git clone https://github.com/indie-health/$1.git; cd $curr_dir; }; f"
	clone-fork = "!f() { curr_dir=$(pwd); cd ~/Code/forks; git clone git@github.com:mtrspringer/$1.git; cd $curr_dir; }; f"
	clone-personal = "!f() { curr_dir=$(pwd); cd ~/Code/personal; git clone git@github.com:mtrspringer/$1.git; cd $curr_dir; }; f"
	exec-all = "!f() { find ~/Code -name '.git' -type d | sed s,/.git,, | xargs -P10 -I{} git -C {} $1; }; f"
	exec-all-indie = "!f() { find ~/Code/indie-health -name '.git' -type d | sed s,/.git,, | xargs -P10 -I{} git -C {} $1; }; f"
	prr = "!f() { local default_branch=$(git bd); git pull --rebase origin $default_branch; }; f"
	rel-click = "!f() { local release_branch=rel-$1; local remote_name=${2:-root}; git checkout -b $release_branch && git push $remote_name $release_branch; }; f"
  cobd = "!f() { git checkout $(git branch-default); }; f"
	synk = "!f() { local default_branch=$(git bd); local current_branch=$(git branch --show-current); git checkout $default_branch && git pull && git fetch origin --tags && git checkout $current_branch; }; f"
	ff = "!f() { local default_branch=$(git bd); git synk $default_branch && git prr $default_branch; }; f"
	undo = "!f() { git reset --soft HEAD~${1:-1}; }; f"
  branch-default = "!f() { branch_name=$(git symbolic-ref --short refs/remotes/origin/HEAD); basename $branch_name; }; f"
